html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  text-align: center;
  font-size: 20px;
  font-family: helvetica, sans-serif;
  background-color: #eee;
}

#example {
  margin-top: 200px;
}

header {
  margin-top: 0px;
  opacity: 0.8;
}

header, footer {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #999;
}

main {
  height: 1000px;
  line-height: 1000px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
