html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-size: 18px;
  font-family: 'Lato', helvetica, sans-serif;
  background: linear-gradient(#ffb718, #e97200)
}

header {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #333;
  padding: 0 20px;
  text-align: center;
  color: #ffa700;
}


h1 {
  line-height: 80px;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

p {
  font-weight: bold;
  font-size: 40px;
  padding: 300px 0;
  margin: 0;
}
